<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="RowLimitN" value="100"/>
		<add key="OverTempThreshold" value="60.0"/>
		<add key="VoltageImbalancePct" value="0.05"/>
		<add key="PowerFlatlineWindow" value="10"/>
		<add key="PowerSpikeThreshold" value="500.0"/>
		<add key="FlatlineEpsilon" value="0.1"/>
		<add key="PlantId" value="AltamonteFL"/>
	</appSettings>

	<system.serviceModel>
		<services>
			<service name="Server.SolarPanelService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9000"/>
					</baseAddresses>
				</host>
				<endpoint
					address="SolarPanel"
					binding="netTcpBinding"
					bindingConfiguration="streamingBinding"
					contract="Common.ISolarPanelService"
					></endpoint>
			</service>		
		</services>

		<bindings>
			<netTcpBinding>
				<binding name="streamingBinding"
						 transferMode="Streamed"
						 maxReceivedMessageSize="10485760"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:10:00"
						 openTimeout="00:01:00"
						 closeTimeout="00:01:00"
						 />
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
</configuration>